.header {
    width: auto;
    height: 12em;
    background-image: url("/images/header.webp");
    display: flex;
}

.action-table{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-style: italic;
    font-weight:bold;
    color: aliceblue;
    width: 100%;
}

.bar{
    display: flex;
    text-align: center;
    font-size: 20px;
}

.buttons a{
    display:flex;
    flex-direction: row;
    color: aliceblue;
    font-size: 25px;
}

.footer {
    padding: 15px;
    text-align: center;
    background-color: aqua;
    font-size: 30px;
    height: 10em;
}

.main-container {
    display: flex; 
    justify-content:baseline;
    flex-direction: column;
    background-color: grey;
}

.main {
    display: flex;
    flex-direction: row;
    background-color: grey;
    height: 40em;
    width: auto;
    margin-top: 150px;
}

.main-text{
    color: white;
    border: 15px solid black;
    border-radius: 35px;
    margin-left: 40px;
    font-size: 20px;
}

.mainImage{
    width: auto;
    max-height: 100%;
    border-radius: 5px;
    margin: 15px;
}

.dunat{
    margin: 50px;
    border-radius: 50px;
}

.about {
    margin: 50px;
    display:flex;
    justify-content: end;
    background-color: grey;
    height: 40em;
}

.about-text{
    margin-top: 100px;
    margin-right: 100px;
    background-color: springgreen;
    color: black;
    border-radius: 30px;
    padding: 10px;
}

.race-youtube{
    display: inline-block;
    padding: 100px;
    color: whitesmoke;
    font-size: 20px;
}
.race{
    width: 600px;
    height: 400px;
}

.works {
    margin: 50px;
    display: flex;
    flex-direction: row;
    height: 40em;
    color: aliceblue;
}

.info{
    margin-top: 50px;
    font-size: 20px;
}

.gameOflife{
    margin: 50px;
    width: 450px;
    height: 300px;
}

.rpg{
    margin: 50px;
    width: 450;
    height: 350px;
}

.additional {
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: hotpink;
    height: 40em;
}

.clicker{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    
}

.counter, .reset {
    background-color: #4CAF50;
    box-shadow: 15px;
    border-radius: 5em;
    color: rgb(50, 2, 112);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin: 20px;
}

.afterClicker {
    display:flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.chooseButton{
    background-color: #4CAF50;
    box-shadow: 15px;
    border-radius: 5em;
    color: rgb(50, 2, 112);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin: 20px;
}